<!DOCTYPE html>
<html>
<head>
<title>Web VPython</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="css/redmond/IDE/jquery-ui.custom.css" rel="stylesheet" />
<link type="text/css" href="css/ide.css" rel="stylesheet" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1TJ40ZW27F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1TJ40ZW27F');
</script>

</head>
<body class="ideBody">

<div id="ajaxBody">
Loading...
</div>

<div class="right-header spacer">
	<div style="text-align:right">
	    <span class="userstatus template">checking...</span>
	    <span class="not_logged_in userstatus template"><a href="#SignIn" class="signin">Sign in</a></span>
	    <span class="logged_in userstatus template">Signed in as <a class="signedin_user signedin_user_link" href="#">username</a>(<a href="#SignOut" class="signout">Sign out</a>)</span>
	</div>
	<div style="text-align:right">
	    <a href="../docs/VPythonDocs/index.html" target="_blank">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</div>

<!-- END HEADER 1 HELP/SIGN-IN TEXT -->

<div class="welcomePage template">

    <div class="header">
    <div class="headerInner">
        <h2>Web VPython</h2>
    </div>
    </div>
    
	<div class="after-header"></div>

	<div id="pageWrapperIDE">

        <div style="position:relative;width:100%;padding:3px;">

        <img src="/docs/VPythonDocs/_images/cover.jpg" width="226" height="240" class="right">

        <p>VPython is an easy-to-use, powerful environment for creating 3D animations.
        Here at glowscript.org (or <a href=https://glowscript.org>webvpython.org</a>, which takes you here), 
        you can write and run VPython programs right in your browser, store them in the 
        cloud for free, and easily share them with others. You can also use VPython with installed Python:
        see <a href=https://vpython.org>vpython.org</a>.</p>
        
        </div>

        <p>The <a href="../docs/VPythonDocs/index.html"><strong>Help</strong></a> provides full documentation.<br>
          <a href="https://trinket.io/matter-interactions/courses/00_welcome_to_vpython#/welcome-to-vpython/getting-started"><strong>Welcome to VPython</strong></a>, a <a href="https://trinket.io"><strong>Trinket</strong></a> tutorial, is useful for anyone new to programming in VPython.<br>
        </p>
        <div class="not_logged_in userstatus">
            <br>See the <a href="/#/user/GlowScriptDemos/folder/Examples/" target="_blank">Example programs</a>.<br>To get started writing your own programs you need to Sign in.
        </div>
        <div class="logged_in userstatus template">
            <br>You are signed in as <b><span class="signedin_user">username</span></b> and your programs are 
            <a href="#MyPrograms" class="signedin_user_link">here</a>.<br>
            Your files will be saved here, but it is a good idea to backup<br>your folders or individual files occasionally by using<br>the download options that are provided.
        </div>

    </div>

    <br>

    <div id="footerWrap"> 
    <div id="footerInner">
    <h2>V e r s i o n&nbsp;&nbsp; 3.2</h2>
        <a href="/#/user/GlowScriptDemos/folder/Examples/" target="_blank">Example programs</a> |
        <a href="https://groups.google.com/forum/?fromgroups#!forum/glowscript-users" target="_blank">Forum</a>
        </div>
    </div>

</div>

<div class="folderPage template">

    <div class="header">
        <div class="spacer">
            <span class="username">User</span>'s <a href="#/">Web VPython</a> Programs
        </div>
    </div>

    <div class="after-header"></div>
    
    <div class="tabs" style="float:left">
            <div class="folderTabs ui-tabs ui-widget" style="float:left">
                <ul class="folderList ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-corner-all" style="float:left">
                    <li class="folderListItem template ui-state-default ui-corner-top"><a class="folder-name" style="font-size: 12px"></a></li>
                    <li class="folder-new-tab ui-state-default ui-corner-top"><a href="#newFolder" class="folder-new" style="font-size: 12px">Add Folder</a></li>
                </ul>
            </div>
     </div>
    
    <br><br>
    <div>
        <br>
        <a href="#Public" class="folder-public button">PUBLIC</a>
        <a href="#newProgram" class="program-new button">Create New Program</a>
        <a href="#delFolder" class="folder-delete template button">Delete this folder</a>
        <a href="#downloadFolder" class="folder-download button">Download</a>
        <a href="#Listing" class="folder-listing button">Icons</a>
        <div class="prog-separator"></div>
        <div class="programs" style="float:left">
            <div class="program template" style="float:left">
                <img class="prog-screenshot" />
                <div class="prog-header" style="float:left">
                    <div class="prog-name"></div>
                    <div class="prog-datetime"></div>
                    <a href="#Run" class="prog-run button">Run</a>
                    <a href="#Edit" class="prog-edit button">Edit</a> 
                    <a href="#Copy" class="prog-copy button">Copy</a>
                    <a href="#Rename" class="prog-rename button">Rename</a>
                    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#Delete" class="prog-delete button">Delete</a>
                    <br>
                </div>
            </div>
        </div>
        <div class="up-down">
            <div class="up-down template">
                <table>
                    <tr>
                        <td width="40px">
                            <div style="font-size:13px;float:left" class="updown-null">&nbsp;</div>
                        </td>
                        <td width="200px">
                            <a href="#Names" style="font-size:13px;float:left" class="updown-names button">Names</a>
                        </td>
                        <td width="140px">
                            <a href="#Dates" style="font-size:13px;float:left" class="updown-dates button">Dates</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="program-details">
            <div class="program-details template">
                <table>
                    <tr>
                        <td width="40px">
                            <a href="#Run" style="font-size:13px;float:left" class="prog-details-run button">Run</a>
                        </td>
                        <td width="210px">
                            <a href="#Edit" style="font-size:13px;float:left" class="prog-details-name button">Edit</a>
                        </td>
                        <td width="140px">
                            <div style="font-size:13px;float:left" class="prog-details-datetime"></div>
                        </td>
                        <td width="60px">
                            <a style="font-size:13px;float:left" href="#Copy" class="prog-details-copy button">Copy</a>
                        </td>
                        <td width="85px">
                            <a style="font-size:13px;float:left" href="#Rename" class="prog-details-rename button">Rename</a>
                        </td>
                        <td width="70px">
                            <a style="font-size:13px;float:left" href="#Delete" class="prog-details-delete button">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </div>

</div>

<div id="newUser-dialog" class="form-dialog template" title="Welcome to webvpython.org!" style="font-size: 12px">
    <p>
    To use webvpython.org you will need to choose a unique name for yourself.  This name will be visible to other
    internet users and will be part of the URLs you can use to share programs.  You can use your own name or a pseudonym, but
    please try not to offend others.
    </p>

    <form>
        <label for="name">Name</label>
        <input type="text" name="name" class="text ui-widget-content ui-corner-all" />
        <p class="validateTips"></p>
    </form>
</div>

<div id="public-dialog" class="form-dialog template" title="PUBLIC" style="font-size: 12px">
    Are you sure you want to make this folder <span class="public-private">PRIVATE</span>?
</div>

<div id="prog-new-dialog" class="form-dialog template" title="Create New Program" style="font-size: 12px">
    <form>
        <label for="name">Name</label>
        <input type="text" name="name" class="text ui-widget-content ui-corner-all" />
    </form>
</div>

<div id="prog-copy-dialog" class="form-dialog template" title="Copy Program" style="font-size: 12px">
    <form>
        <label for="name">New name, or existing folder/new name:</label>
        <input type="text" class="copy-default" name="name" class="text ui-widget-content ui-corner-all" />
    </form>
</div>

<div id="prog-rename-dialog" class="form-dialog template" title="Rename Program" style="font-size: 12px">
    <form>
        <label for="name">New name, or existing folder/new name:</label>
        <input type="text" class="rename-default" name="name" class="text ui-widget-content ui-corner-all" />
    </form>
</div>

<div id="prog-delete-dialog" class="form-dialog template" title="Delete Program" style="font-size: 12px">
    Are you sure you want to delete <span class="name prog-name">this program</span>?  This action cannot be undone!
</div>

<div id="folder-new-dialog" class="form-dialog template" title="Create New Folder" style="font-size: 12px">
    <form>
        <label for="name">Name</label>
        <input type="text" name="name" class="text ui-widget-content ui-corner-all" />
        <label for="isPublic">Public</label>
        <input type="checkbox" name="isPublic" checked="checked"/>
    </form>
</div>

<div id="folder-delete-dialog" class="form-dialog template" title="Delete Folder" style="font-size: 12px">
    Are you sure you want to delete <span class="name folder-name">this folder</span>?
</div>

<div id="version-error-dialog" class="form-dialog error-dialog template" title="Error in program">
    <p>Program does not start with the required version declaration:</p>
    <pre class="desired-version code-preformat"></pre>
</div>

<div id="program-error-dialog" class="form-dialog error-dialog template" title="Error in program">
    <p><span class="error-details"></span></p>
    <pre class="error-traceback code-preformat"></pre>
</div>

<div class="runPage template">
    <div class="header">
        <span class="programname">Program</span> by <a class="username">User</a>
        <span>&nbsp;&nbsp;</span><span class="prog-datetime"></span>
        <div>
            <a href="#Edit" class="prog-edit button">Edit this program</a>
            <a href="#Screenshot" class="prog-screenshot button template" title="Change the thumbnail image for this program to its current display">Screenshot</a>
        </div>
    </div>
    <div class="after-header"></div>

    <div class="run-container">
        <iframe class="untrusted-frame" frameborder=20></iframe>
    </div>
</div>

<div class="editPage template">
    <div class="header">
        <span class="programname">Program</span> by <a class="username">User</a>
        <span class="readonly template"> (read only)</span>
        <span>&nbsp;&nbsp;</span><span class="prog-datetime"></span>
        <span class="program-status"></span>
        <div>
            <a href="#Run" class="prog-run button">Run this program</a>
            <a href="#Share" class="prog-share button">Share or export this program</a>
            <a href="#downloadProgram" class="prog-download button">Download</a>
        </div>
    </div>
    <div class="after-header"></div>
    <pre class="program-editor"></pre>
    
</div>

<div class="sharePage template">
    <div class="header">
        Sharing <span class="programname">Program</span> by <a class="username">User</a>
        <div>
            <a href="#Edit" class="prog-edit button">Edit this program</a>
        </div>
    </div>
    <div class="after-header"></div>
    There are several ways to share or export a program:

    <ul>
    <li>You can publish a <em>link</em> to <a class="run-link"></a>. Anyone can run the program here
    at glowscript.org, or view its source, without having to sign in. 
    <b>The program must be in a public folder, not a private folder.</b></li>
    <li>You can publish a link to an entire <b>public</b> folder: <a class="folder-link"></a>.</li>
    <li>Export: you can <em>embed</em> the program, including from a private folder,
    directly in your own web page, using the HTML code provided below.
    If your page already uses jquery, you should delete that &lt;script&gt; tag.
    </li>
    <li>Another option is to save the HTML code shown below in a file ending in ".html", then
        doubleclick the html file and it will run in your browser. 
    <li>Or simply click<a class="prog-download-html button"><b>Download as HTML</b></a> and then double-click the downloaded file to run it.
        Some browsers display the file name at the bottom of the page, and a single click on the name will run the program.
    <li>You can also place the html file in an iframe portion of a web page by placing in the html of the web page a statement like this
    :<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;iframe src="test.html" width="320" height="340"&gt&lt;/iframe&gt<br>
    where "test.html" is the location of the program relative to the location of the iframe statement, and where 
    the program has a canvas somewhat smaller than 320 by 340.
    </li>
    <li>You may have a need to allow anyone to run the program but to keep the program's original source code private.
    It is not possible to hide JavaScript code from a user of the program (rightclick the web page and
    choose "View page source" or use the browser debugger), but you can "minify" the program to make
    it so difficult to read as to make it effectively private. To do this, in the HTML code above, copy the code from "// START JAVASCRIPT"
    through "// END JAVASCRIPT" and paste it into a "minifier" such as the one at
    <a href="https://javascript-minifier.com" target="_blank">javascript-minifier.com</a>, and then replace the START-END code with
    the output of the minifier. You will see that it is very difficult to understand the minified program, even if
    you pass it through a "beautifier" program, because many of the variable names have been replaced by single letters.
    </ul>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<b><em>If the area below is blank, the program has errors.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspFix the errors and then try again.</em></b><br>&nbsp;&nbsp;&nbsp;
    <span class="embedWarning errorText"></span>
    <p><textarea class="embedSource"></textarea></p>
</div>

<!-- <script type="text/javascript" language="javascript" src="lib/require.min.js"></script> -->
<script type="text/javascript" language="javascript" src="lib/jquery/IDE/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="lib/jquery/IDE/jquery.textchange.custom.js"></script>
<script type="text/javascript" language="javascript" src="lib/jquery/IDE/jquery-ui.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="lib/ace/ace.js"></script>
<script type="text/javascript" language="javascript" src="lib/editor.js"></script>
<script type="text/javascript" language="javascript" src="lib/ace/mode-javascript.js"></script>
<script type="text/javascript" language="javascript" src="lib/ace/mode-python.js"></script>
<script type="text/javascript" language="javascript" src="package/symbols.3.2.min.js"></script>
<script type="text/javascript" language="javascript" src="ide.js"></script>

</body>
</html>