body { margin-bottom: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px }


a:link, a:visited, a:hover {
	color: #0000ff;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/* overrides decoration from previous rule for hovered links */

td, textarea, input, select {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px}
.sectionHead { font-size: 16px;	line-height: 30px; font-weight: bold; color: #000000;}
.tableDetail { background-color: #CCCCCC;}
.tableHeading { color:#FFFFFF; text-decoration: bold ; background-color: #424973}
.Courier {
	font-family: "Courier New", Courier, monospace;
}
.program {
	font-family: "Courier New", Courier, monospace;
	color: #03F;
}
.program {
	color: #00C;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
